h3 {
    font-family: serif;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    font-style: italic;

}

p{
    font-family: arial;
    color: blue;
    text-align:center;

}

input:invalid{
    border: 4px solid #FF0000;
}

input:valid{
    border: 4px solid #00FF00;
}

p:hover{
    background-color: lightpink;
}

highlight{
    font-size: 200%;
    color:#0000FF;
    background-color: yellow;
    
}

#heading2{
    font-size: 100%;
    color: #000000;
}

.button{
    background-color: #0000FF;
    color: pink;
    text-align: center;
    font-size: 10px;
    margin: 4px 0px;
}

h1{
    /* border: 2px solid pink;  */
    /* color: gray; */
    /* margin: 50% 25% ; */

    
    /* width: 500px; */

}